In [19]:
import pandas as pd

df = pd.read_csv('adult.data.csv')

### 1. Скільки чоловіків і жінок (ознака sex) представлено в цьому наборі даних?

In [80]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### 2. Який середній вік (ознака age) жінок?

In [53]:
#female_mean_age = df[df['sex'] == 'Female'].age.mean()
#female_mean_age = df.query('sex == "Female"').age.mean()
female_mean_age = df[df['sex'].eq('Female')].age.mean()
female_mean_age = round(female_mean_age, 1)
print(female_mean_age)

36.9

### 3. Яка частка громадян Німеччини (ознака native-country)?

In [66]:
persentage_of_germans = df[df['native-country'].eq('Germany')].shape[0] * 100 / df.shape[0]
persentage_of_germans = round(persentage_of_germans, 2)
print(persentage_of_germans)

0.42

### 4. Які середні значення і середньоквадратичні відхилення віку тих, хто отримує більше 50K в рік (ознака salary) і тих, хто отримує менше 50K в рік?

In [90]:
mean_age_of_people_with_low_salary = df[df['salary'].eq('<=50K')].age.mean()
mean_age_of_people_with_high_salary = df[df['salary'].eq('>50K')].age.mean()
age_standard_deviation_of_people_with_low_salary = df[df['salary'].eq('<=50K')].age.std()
age_standard_deviation_of_people_with_high_salary = df[df['salary'].eq('>50K')].age.std()

print('mean age of people with low salary: ' + str(round(mean_age_of_people_with_low_salary, 2)))
print('age standard deviation of people with low salary: ' + str(round(age_standard_deviation_of_people_with_low_salary, 2)) + '\n')
print('mean age of people with high salary: ' + str(round(mean_age_of_people_with_high_salary, 2)))
print('age standard deviation of people with high salary: ' + str(round(age_standard_deviation_of_people_with_high_salary, 2)))

mean age of people with low salary: 36.78
age standard deviation of people with low salary: 14.02

mean age of people with high salary: 44.25
age standard deviation of people with high salary: 10.52

### 5. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (Ознака education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters або Doctorate)

In [148]:
high_salary = df[df['salary'].eq('>50K')]
high_salary_and_higher_education = high_salary[high_salary['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]


print('number of people with high salary and withot higher education: ' + str(high_salary.shape[0] - high_salary_and_higher_education.shape[0]))
print('The answer to the question #5 is: NO')

number of people with high salary and withot higher education: 3306
The answer to the question #5 is: NO

### 6. Виведіть статистику віку для кожної раси (ознака race) і кожної статі. Використовуйте groupby і describe. Знайдіть таким чином максимальний вік чоловіків раси Amer-Indian-Eskimo.

In [180]:
age_stats_by_race_and_gender = df.groupby(by=['race', 'sex'])['age'].describe()
print('Max age of Amer-Indian-Eskimo man is: 82 as it is shown in table')
age_stats_by_race_and_gender

Max age of Amer-Indian-Eskimo man is: 82 as it is shown in table

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

### 7. Серед кого більша частка заробляючих багато (> 50K): серед одружених або неодружених чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого marital-status починається з Married (Married-civ-spouse, Married-spouse-absent або Married-AF-spouse), інших вважаємо холостими.

### 8. Яка максимальна кількість годин людина працює в тиждень (ознака hours-per- week)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?

### 9. Порахуйте середній час роботи (hours-per-week) тих, хто заробляє мало і багато (salary) для кожної країни (native-country).