In [2]:
import pandas as pd

df = pd.read_csv('adult.data.csv')

### 1. Скільки чоловіків і жінок (ознака sex) представлено в цьому наборі даних?

In [3]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### 2. Який середній вік (ознака age) жінок?

In [4]:
#female_mean_age = df[df['sex'] == 'Female'].age.mean()
#female_mean_age = df.query('sex == "Female"').age.mean()
female_mean_age = df[df['sex'].eq('Female')].age.mean()
female_mean_age = round(female_mean_age, 1)
print(female_mean_age)

36.9

### 3. Яка частка громадян Німеччини (ознака native-country)?

In [5]:
persentage_of_germans = df[df['native-country'].eq('Germany')].shape[0] * 100 / df.shape[0]
persentage_of_germans = round(persentage_of_germans, 2)
print(persentage_of_germans)

0.42

### 4. Які середні значення і середньоквадратичні відхилення віку тих, хто отримує більше 50K в рік (ознака salary) і тих, хто отримує менше 50K в рік?

In [6]:
mean_age_of_people_with_low_salary = df[df['salary'].eq('<=50K')].age.mean()
mean_age_of_people_with_high_salary = df[df['salary'].eq('>50K')].age.mean()
age_standard_deviation_of_people_with_low_salary = df[df['salary'].eq('<=50K')].age.std()
age_standard_deviation_of_people_with_high_salary = df[df['salary'].eq('>50K')].age.std()

print('mean age of people with low salary: ' + str(round(mean_age_of_people_with_low_salary, 2)))
print('age standard deviation of people with low salary: ' + str(round(age_standard_deviation_of_people_with_low_salary, 2)) + '\n')
print('mean age of people with high salary: ' + str(round(mean_age_of_people_with_high_salary, 2)))
print('age standard deviation of people with high salary: ' + str(round(age_standard_deviation_of_people_with_high_salary, 2)))

mean age of people with low salary: 36.78
age standard deviation of people with low salary: 14.02

mean age of people with high salary: 44.25
age standard deviation of people with high salary: 10.52

### 5. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (Ознака education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters або Doctorate)

In [7]:
high_salary = df[df['salary'].eq('>50K')]
high_salary_and_higher_education = high_salary[high_salary['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]


print('number of people with high salary and withot higher education: ' + str(high_salary.shape[0] - high_salary_and_higher_education.shape[0]))
print('The answer to the question #5 is: NO')

number of people with high salary and withot higher education: 3306
The answer to the question #5 is: NO

### 6. Виведіть статистику віку для кожної раси (ознака race) і кожної статі. Використовуйте groupby і describe. Знайдіть таким чином максимальний вік чоловіків раси Amer-Indian-Eskimo.

In [8]:
age_stats_by_race_and_gender = df.groupby(by=['race', 'sex'])['age'].describe()
print('Max age of Amer-Indian-Eskimo man is: 82 as it is shown in table')
age_stats_by_race_and_gender

Max age of Amer-Indian-Eskimo man is: 82 as it is shown in table

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

### 7. Серед кого більша частка заробляючих багато (> 50K): серед одружених або неодружених чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого marital-status починається з Married (Married-civ-spouse, Married-spouse-absent або Married-AF-spouse), інших вважаємо холостими.

In [65]:
males = df[df['sex'].eq('Male')]
married_males = males[males['marital-status'].str.startswith('Married')]
single_males = males[~males['marital-status'].str.startswith('Married')]
rich_married_males_percentage = married_males[married_males['salary'].eq('>50K')].shape[0] * 100 / married_males.shape[0]
rich_single_males_percentage = single_males[single_males['salary'].eq('>50K')].shape[0] * 100 / single_males.shape[0]
print('rich married males percentage: ' + str(round(rich_married_males_percentage, 2)))
print('rich single males percentage: ' + str(round(rich_single_males_percentage, 2)))
print('\nThe answer to the question #7 is: married man earn more money then the single ones')

rich married males percentage: 44.05
rich single males percentage: 8.45

The answer to the question #7 is: married man earn more money then the single ones

### 8. Яка максимальна кількість годин людина працює в тиждень (ознака hours-per- week)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?

In [66]:
max_hours_per_week = df['hours-per-week'].values.max()
print('maximum number of work hours per week is: ' + str(max_hours_per_week))

hard_workers = df[df['hours-per-week'].eq(max_hours_per_week)]
print('number of people that work ' + str(max_hours_per_week) + ' hours per week is: ' + str(hard_workers.shape[0]))

rich_hard_workers_percentage = hard_workers[hard_workers['salary'].eq('>50K')].shape[0] * 100 / hard_workers.shape[0]
print('rich hard workers percentage is: ' + str(round(rich_hard_workers_percentage, 2)))

maximum number of work hours per week is: 99
number of people that work 99 hours per week is: 85
rich hard workers percentage is: 29.41

### 9. Порахуйте середній час роботи (hours-per-week) тих, хто заробляє мало і багато (salary) для кожної країни (native-country).

In [87]:
print(df.groupby(by=['native-country', 'salary'])['hours-per-week'].mean().to_string())

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
Holand-Netherlands          <=50K     40.000000
Honduras                    <=50K     34.333333
                            >50K      60.000000
Hong                        <=50K     39.142857
                            >50K      45.000000
Hungary                     <=50K     31.300000
                            >50K      50.000000
India                       <=50K     38.233333
                            >50K      46.475000
Iran                        <=50K     41.440000
                            >50K      47.500000
Ireland                     <=50K     40.947368
                            >50K      48.000000
Italy                       <=50K     39.625000
                            >50K      45.400000
Jamaica                     <=50K     38.239437
                            >50K      41.100000
Japan                       <=50K     41.000000
                            >50K      47.958333
Laos                        <=50K     40.375000
                            >50K      40.000000
Mexico                      <=50K     40.003279
                            >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000